body{
    overflow: scroll;
    background: darkslategrey;
}
#para1{
    border-radius: 5%;
    padding: 0.4em 2px 2em 0.3em;
    margin-bottom: -0em;
    margin-top: -1.5em;
    font-family: 'JetBrains Mono';
    font-size: 80px;
    position: relative;
    bottom: 6.3em;
    left: 60%;
    background-color: rgb(4, 104, 91);
}
#head{
    position: sticky;
    bottom: 29em;
    left: 1%;
    font-weight: bold;
    font-size: 23px;
    font-family: 'JetBrains Mono';
}
img{
    width: 700px;
    border-radius: 4%;
    
}



@media screen and (max-width: 1297px){
    #para1{
        border-radius: 5%;
        padding: 0.4em 2px 2em 0.5em;
        margin-left: 8em;
        margin-bottom: -0em;
        margin-top: 0.1em;
        font-family: 'JetBrains Mono';
        font-size: 80px;
        position: sticky;
        bottom: 6.3em;
        left: 60%;
        background-color: rgb(4, 104, 91);
    }
}

@media screen and (max-width: 1150px){
    #head{
        position: sticky;
        bottom: 33em;
        left: 1%;
        font-weight: bold;
        font-size: 19px;
        font-family: 'JetBrains Mono';
    }
    img{
        width: 490px;
        border-radius: 4%;
        
    }
}

@media screen and (max-width: 1112px){
    #para1{
        border-radius: 5%;
        padding: 0.4em 2px 2em 0.5em;
        margin-left: 8em;
        margin-bottom: -0em;
        margin-top: 0.1em;
        font-family: 'JetBrains Mono';
        font-size: 60px;
        position: sticky;
        bottom: 6.5em;
        left: 60%;
        background-color: rgb(4, 104, 91);
    }
}

@media screen and (max-width: 851px){
    #para1{
        border-radius: 5%;
        padding: 0.4em 2px 2em 0.5em;
        margin-left: 1em;
        margin-bottom: -0em;
        margin-top: 0em;
        font-family: 'JetBrains Mono';
        font-size: 40px;
        position: sticky;
        bottom: -2em;
        left: 60%;
        background-color: rgb(4, 104, 91);
    }
    img{
        width: 400px;
        border-radius: 4%;
        position: sticky;
        left: 12em;
        
    }
}

@media screen and (max-width: 412px),(max-height: 892px){
    
    img {
        width: 60em;
        border-radius: 4%;
    }

    #para1{
        border-radius: 5%;
        padding: -2.6em 1em 2em 1.5em;
        margin-left: 0em;
        margin-bottom: 6em;
        margin-top: 4.1em;
        font-family: 'JetBrains Mono';
        font-size: 107px;
        position: sticky;
        bottom: 0.5em;
        left: 60%;
        background-color: rgb(4, 104, 91);
    }
}





