@media screen and (max-width: 300px){
    #para1{
        border-radius: 5%;
        padding: 0.4em 2px 2em 0.3em;
        margin-bottom: -0em;
        margin-top: 0.6em;
        font-size: 100px;
        position: relative;
        bottom: 100%;
        left: 60%;
    }
    #head{
        position: absolute;
        bottom: -2%;
        left: 1%;
        font-size: 32px;
    }
    img{
        width: 200px;
        border-radius: 4%;
    }
}